.footer {
	padding: 42px 0 38px 0;
	background-color: $bg-footer;
	&__title {
		line-height: 15px;
		font-weight: normal;
		margin-bottom: 20px;
	}
	&__text {
		font-weight: 600;
		line-height: 25px;
		margin-top: 15px;
	}
	&__block-link {
		display: flex;
		justify-content: space-between;
	}
	&__link {
		width: 28%;
		a{
			font-weight: 600;
			text-decoration: none;
			line-height: 27px;
			font-family: $primery-font;;
			font-style: normal;
			font-size: 11px;
			letter-spacing: 0.846154px;
			color: $color-t-white;
		}
	}
	&__contact {
		font-weight: normal;
		line-height: 16px;
	}
	&__adress {
		width: 84%;
		margin-bottom: 20px;
	}
	&__phone {
	}
	&__maill {
		margin-top: 15px;
	}
	&__socials {
		display: flex;
		justify-content: space-around;
		margin-top: 35px;
		a{
			text-decoration: none;
			i{
				font-size: 15px;
				color: $color-t-white;
			}
		}
	}
}
.copyright{
	background-color: $bg-dark;
	padding: 22px 0 23px 0;
	text-align: center;
	font-weight: normal;
	line-height: 15px;
}

