body,
html{
	background-color: #FFFFFF;
	overflow-x:hidden;
	img{
		max-width: 100%;
	}
	ul{
		list-style: none;
	}	
    input{
        outline: none;
    } 
	hr{
		padding: 0;
		margin: 0;
	}
	a{
		text-decoration: none;
	}
}
.custom-container{
	max-width: 970px;
	position: relative;
}
.title{
	font-family: $primery-font;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 2.30625px;
	color: $primery-text-color;
}
.text{
	font-family: $primery-font;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.1875px;
	color: $primery-text-color;
}
.line{
	height: 2px;
	width: 50px;
	background: #00A4E5;
	margin-top: 12px;
}
.secondary-text{
	font-family: $primery-font;;
	font-style: normal;
	font-size: 11px;
	letter-spacing: 0.846154px;
	color: $color-t-white;
}