.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.fullscreen {
	min-height: 100vh;
	display: flex;
	background-color: #171819;
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	padding: 41px 0 71px 0;
	&__body {
		flex: 1 1 auto;
		max-width: 600px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__logo {
		font-size: 0;
		text-decoration: none;
	}
	&__content {
		padding: 110px 0 20px 0;
	}
	&__title {
		font-family: $secondary-font;
		font-size: 60px;
		font-weight: bold;
		letter-spacing: 5.70937px;
		color: $color-t-white;
	}
	&__subtitle {
		font-family: $primery-font;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: $color-t-white;
	}
	&__link {
		font-family: $primery-font;
		font-weight: 600;
		font-size: 11px;
		line-height: 15px;
		letter-spacing: 3.7px;
		color: $color-t-white;
		text-decoration: none;
		&:hover{
			color: $color-t-white;
		   text-decoration: none;
		}
	}
}
.navigation {
	padding: 23px 0;
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	background-color: $bg-header;
	position: relative;
	&__link {
		display: flex;
		text-align: center;
		justify-content: space-between;
		padding-left: 35px;
		a{
			font-family: $primery-font;
			font-weight: 600;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: 1.09091px;
			color: $primery-text-color;
			text-decoration: none;
			&:hover{
				color: $hover-text-color;
			}
		}
	}
}
.nav__fixed .wrapper{
	margin-bottom: 70px;
}
.nav__fixed .navigation{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #f7f7f7;
	z-index: 3;
}
.navigation__burger{
	display: none;
 	height: 14px;
  	width: 20px;
  	position: relative;
  	left: 0;
  	margin-left: auto;
  	cursor: pointer;
}
.navigation__burger span{
  content: " ";
  background-color: $bg-dark;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 6px;
  transition: all 0.4s;
}
.navigation__burger:before,
.navigation__burger:after{
  content: " ";
  background-color: $bg-dark;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.4s;
}
.navigation__burger:before{
  top: 0;
}
.navigation__burger:after{
  bottom: 0;
}
.navigation__burger.active span,{
  transform: scale(0);
}
.navigation__burger.active:before{
  transform: rotate(45deg);
  top: 6px;
}
.navigation__burger.active:after{
  transform: rotate(-45deg);
  bottom: 6px;
}
.navigation__burger-menu{
	display: none;
	position: absolute;
	width: 100%;
  	background: #f7f7f7;
  	z-index: 5;	
  	top: 45px;
  	padding: 20px 15px;
}
.navigation__burger-menu a{
	display: block;
	font-family: $primery-font;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1.09091px;
	color: $primery-text-color;
	text-decoration: none;
	padding: 10px 0;
	&:hover{
		color: $hover-text-color;
	}
}