.about {
    padding: 57px 0 117px 0;
    &__title {
        text-align: center;
    }
    &__line {
        margin-right: auto;
        margin-bottom: 55px;
        margin-left: auto;
        text-align: center;
    }
    &__history {
        padding: 0 50px 0 0;
    }
    &__caption {
        font-family: $primery-font;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        line-height: 27px;
        letter-spacing: .1875px;
        color: $primery-text-color;
    }
    &__text {
        margin-top: 30px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;     
    }
    &__img {
        width: 30.8%;
        height: 224px;
        padding: 15px 17px 0 15px;
        background-color: #171819;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        a{
            text-decoration: none;
        }
    }
    &__short-title {
        font-family: $primery-font;
        font-size: 24px;
        font-weight: 800;
        font-style: normal;
        line-height: 29px;
        letter-spacing: .1875px;
        color: $color-t-white;
        &:hover{
            color: $color-t-white;
        }
    }
    &__img_img1 {
        background-image: url(../img/plan.png);
    }
    &__img_img2 {
        background-image: url(../img/manage.png);
    }
    &__img_img3 {
        background-image: url(../img/build.png);
    }
}
.servises {
    padding: 120px 0 115px 0;
    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__discription {
        font-family: $primery-font;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        line-height: 19px;
        width: 42%;
        margin-left: 110px;
        letter-spacing: .2px;
        color: $primery-text-color;
    }
    &__button {
        font-family: $primery-font;
        font-size: 13px;
        font-weight: bold;
        line-height: 18px;
        padding: 11px 29px;
        text-align: center;
        border: 1px solid $btn-normal;
        box-sizing: border-box;
        letter-spacing: .5px;
        color: $color-t-white;
        background: $btn-normal;
        &:hover{
            background: $bg-header;
            color: $hover-text-color;
            text-decoration: none;
        }
    }
}
.item-servises {
    font-family: $primery-font;
    font-style: normal;
    box-sizing: border-box;
    margin-top: 75px;
    padding: 38px 20px 39px 22px;
    color: $primery-text-color;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    &:hover{
        box-shadow: 10px 10px 20px #e6e6e6;
    }
    &__title {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        margin: 25px 0 13px 0;
        letter-spacing: .426667px;
    }
    &__text {
        font-size: 13px;
        font-weight: normal;
        line-height: 23px;
        letter-spacing: .1875px;
    }
}
.conection {
    padding: 120px 0 254px 0;
    text-align: center;
    background-color: #171819;
    background-image: url(../img/conection-bg.jpg);
    background-position: center;
    background-size: cover;
    &__body {
        width: 350px;
        margin: 0 auto;
    }
    &__title {
        font-family: $primery-font;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        line-height: 36px;
        padding: 0 0 35px 0;
        text-align: center;
        letter-spacing: .15px;
        color: $primery-text-color;
    }
    &__button {
        font-family: $primery-font;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        line-height: 18px;
        padding: 11px 26px;
        text-align: center;
        text-decoration: none;
        letter-spacing: .5px;
        color: $color-t-white;
        background: $btn-normal;
        border: 1px solid $btn-normal;
        &:hover{
            background: $bg-header;
            color: $hover-text-color;
            text-decoration: none;
        }
    }
}
.newsletter {
    padding: 30px 0;
    background-color: $bg-dark;
    &__body {
        font-family: $primery-font;
        font-style: normal;
        display: flex;
        width: 686px;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__title {
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: .846154px;
        color: $color-t-white;
    }
    &__form {
        position: relative;
        width: 59%;
    }
    &__input-mail {
        font-size: 14px;
        font-weight: normal;
        line-height: 19px;
        box-sizing: border-box;
        width: 100%;
        padding: 11px 16px;
        letter-spacing: .07px;
        color: $primery-text-color;
        border: 1px solid #979797;
        outline: none;
        background: #fff;
    }
    &__submit-mail {
        font-size: 13px;
        font-weight: bold;
        line-height: 19px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 11px 49px;
        text-align: center;
        letter-spacing: .5px;
        color: $color-t-white;
        border: 1px solid $btn-normal;
        background: $btn-normal;
        &:focus{
            outline: none;
        }
        &:hover{
            background: $bg-header;
            color: $hover-text-color;
        }
    }
}

