@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$secondary-font:'Bebas Neue', cursive;
$primery-font:'Open Sans', sans-serif;

$primery-text-color: #48555B;
$color-t-white: #ffffff;
$hover-text-color: #00A4E5;

$bg-footer: #141A20;
$btn-normal: #00A4E5;
$bg-dark: #171819;
$bg-header: #FFFFFF;

