@media (max-width: 992px) {
	.about {
    	padding: 40px 0 80px 0;
	}
	.about__history{
		padding: 0;
	}
	.about__short-title{
		font-size: 20px;
	}
	.about__img{
		padding: 15px 40px 0 10px;
	}
	.servises {
    	padding: 90px 0 90px 0;
	}
	.servises__title, .servises__button{
		align-self: flex-start;
	}
	.servises__discription{
		margin-left: 0;
	}
	.item-servises{
		margin-top: 50px;
    	padding: 28px 10px 28px 12px;
	}
	.item-servises__title{
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	.about{
		padding: 40px 0 60px 0;
	}
	.about__line{
		margin-bottom: 40px;
	}
	.about__text{
		margin-top: 20px;
	}
	.about__img{
		margin: 10px auto;
	}
	.servises {
    	padding: 60px 0;
	}
	.servises__discription{
		order: 3;
		width: 80%;
	    margin: 20px auto;
	}
	.item-servises{
		margin-top: 30px;
    	padding: 15px 10px;
	}
	.newsletter{
		padding: 20px 15px;
	}
	.newsletter__body{
		width: auto;
	}
	.newsletter__title{
		align-self: center;
		font-size: 20px;
	}
	 .newsletter__form{
		width: 55%;
	}
	.newsletter__submit-mail{
		padding: 11px 30px;
	}
	.footer__contact{
		margin-top: 35px;
	}
	.footer__link {
	    width: 24%;
	}
	.navigation .navigation__link{
		display: none;
	}
	.navigation .navigation__burger{
		display: block;
	}
}
@media (max-width: 576px) {
	.burger-menu{
		display: block;
	}
	.fullscreen{
		padding: 21px 10px 51px 10px;
	}
	.fullscreen .fullscreen__body .fullscreen__title{
		font-size: 48px;
	}
	.about__caption{
		font-size: 17px;
	}
	.about__img, .servises__button{
		width: 80%;
    	margin: 10px auto;
	}
	.servises__title, .servises__discription, .newsletter__title, .line{
		margin: 10px auto;
	}
	.conection{
		padding: 100px 0 200px 0;
	}
	.conection__body{
		width: 100%;
	}
	.conection__title{
		font-size: 26px;
	}
	.newsletter__form{
		width: 100%;
	}
	.footer__text{
		margin-bottom: 35px;
	}
	.footer__link {
	    width: 15%;
	}
}
@media (max-width: 450px) {
	.footer__link {
	    width: 21%;
	}
}
