@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body,
html {
  background-color: #FFFFFF;
  overflow-x: hidden; }
  body img,
  html img {
    max-width: 100%; }
  body ul,
  html ul {
    list-style: none; }
  body input,
  html input {
    outline: none; }
  body hr,
  html hr {
    padding: 0;
    margin: 0; }
  body a,
  html a {
    text-decoration: none; }

.custom-container {
  max-width: 970px;
  position: relative; }

.title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.30625px;
  color: #48555B; }

.text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B; }

.line {
  height: 2px;
  width: 50px;
  background: #00A4E5;
  margin-top: 12px; }

.secondary-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 0.846154px;
  color: #ffffff; }

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.fullscreen {
  min-height: 100vh;
  display: flex;
  background-color: #171819;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 41px 0 71px 0; }
  .fullscreen__body {
    flex: 1 1 auto;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .fullscreen__logo {
    font-size: 0;
    text-decoration: none; }
  .fullscreen__content {
    padding: 110px 0 20px 0; }
  .fullscreen__title {
    font-family: "Bebas Neue", cursive;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5.70937px;
    color: #ffffff; }
  .fullscreen__subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff; }
  .fullscreen__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.7px;
    color: #ffffff;
    text-decoration: none; }
    .fullscreen__link:hover {
      color: #ffffff;
      text-decoration: none; }

.navigation {
  padding: 23px 0;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  background-color: #FFFFFF;
  position: relative; }
  .navigation__link {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 35px; }
    .navigation__link a {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1.09091px;
      color: #48555B;
      text-decoration: none; }
      .navigation__link a:hover {
        color: #00A4E5; }

.nav__fixed .wrapper {
  margin-bottom: 70px; }

.nav__fixed .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #f7f7f7;
  z-index: 3; }

.navigation__burger {
  display: none;
  height: 14px;
  width: 20px;
  position: relative;
  left: 0;
  margin-left: auto;
  cursor: pointer; }

.navigation__burger span {
  content: " ";
  background-color: #171819;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 6px;
  transition: all 0.4s; }

.navigation__burger:before,
.navigation__burger:after {
  content: " ";
  background-color: #171819;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.4s; }

.navigation__burger:before {
  top: 0; }

.navigation__burger:after {
  bottom: 0; }

.navigation__burger.active span {
  transform: scale(0); }

.navigation__burger.active:before {
  transform: rotate(45deg);
  top: 6px; }

.navigation__burger.active:after {
  transform: rotate(-45deg);
  bottom: 6px; }

.navigation__burger-menu {
  display: none;
  position: absolute;
  width: 100%;
  background: #f7f7f7;
  z-index: 5;
  top: 45px;
  padding: 20px 15px; }

.navigation__burger-menu a {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.09091px;
  color: #48555B;
  text-decoration: none;
  padding: 10px 0; }
  .navigation__burger-menu a:hover {
    color: #00A4E5; }

.about {
  padding: 57px 0 117px 0; }
  .about__title {
    text-align: center; }
  .about__line {
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;
    text-align: center; }
  .about__history {
    padding: 0 50px 0 0; }
  .about__caption {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 27px;
    letter-spacing: .1875px;
    color: #48555B; }
  .about__text {
    margin-top: 30px; }
  .about__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .about__img {
    width: 30.8%;
    height: 224px;
    padding: 15px 17px 0 15px;
    background-color: #171819;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .about__img a {
      text-decoration: none; }
  .about__short-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    line-height: 29px;
    letter-spacing: .1875px;
    color: #ffffff; }
    .about__short-title:hover {
      color: #ffffff; }
  .about__img_img1 {
    background-image: url(../img/plan.png); }
  .about__img_img2 {
    background-image: url(../img/manage.png); }
  .about__img_img3 {
    background-image: url(../img/build.png); }

.servises {
  padding: 120px 0 115px 0; }
  .servises__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .servises__discription {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
    width: 42%;
    margin-left: 110px;
    letter-spacing: .2px;
    color: #48555B; }
  .servises__button {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    padding: 11px 29px;
    text-align: center;
    border: 1px solid #00A4E5;
    box-sizing: border-box;
    letter-spacing: .5px;
    color: #ffffff;
    background: #00A4E5; }
    .servises__button:hover {
      background: #FFFFFF;
      color: #00A4E5;
      text-decoration: none; }

.item-servises {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  margin-top: 75px;
  padding: 38px 20px 39px 22px;
  color: #48555B;
  border: 1px solid #e6e6e6;
  cursor: pointer; }
  .item-servises:hover {
    box-shadow: 10px 10px 20px #e6e6e6; }
  .item-servises__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 25px 0 13px 0;
    letter-spacing: .426667px; }
  .item-servises__text {
    font-size: 13px;
    font-weight: normal;
    line-height: 23px;
    letter-spacing: .1875px; }

.conection {
  padding: 120px 0 254px 0;
  text-align: center;
  background-color: #171819;
  background-image: url(../img/conection-bg.jpg);
  background-position: center;
  background-size: cover; }
  .conection__body {
    width: 350px;
    margin: 0 auto; }
  .conection__title {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 36px;
    padding: 0 0 35px 0;
    text-align: center;
    letter-spacing: .15px;
    color: #48555B; }
  .conection__button {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    line-height: 18px;
    padding: 11px 26px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px;
    color: #ffffff;
    background: #00A4E5;
    border: 1px solid #00A4E5; }
    .conection__button:hover {
      background: #FFFFFF;
      color: #00A4E5;
      text-decoration: none; }

.newsletter {
  padding: 30px 0;
  background-color: #171819; }
  .newsletter__body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    display: flex;
    width: 686px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap; }
  .newsletter__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: .846154px;
    color: #ffffff; }
  .newsletter__form {
    position: relative;
    width: 59%; }
  .newsletter__input-mail {
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    box-sizing: border-box;
    width: 100%;
    padding: 11px 16px;
    letter-spacing: .07px;
    color: #48555B;
    border: 1px solid #979797;
    outline: none;
    background: #fff; }
  .newsletter__submit-mail {
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 49px;
    text-align: center;
    letter-spacing: .5px;
    color: #ffffff;
    border: 1px solid #00A4E5;
    background: #00A4E5; }
    .newsletter__submit-mail:focus {
      outline: none; }
    .newsletter__submit-mail:hover {
      background: #FFFFFF;
      color: #00A4E5; }

.footer {
  padding: 42px 0 38px 0;
  background-color: #141A20; }
  .footer__title {
    line-height: 15px;
    font-weight: normal;
    margin-bottom: 20px; }
  .footer__text {
    font-weight: 600;
    line-height: 25px;
    margin-top: 15px; }
  .footer__block-link {
    display: flex;
    justify-content: space-between; }
  .footer__link {
    width: 28%; }
    .footer__link a {
      font-weight: 600;
      text-decoration: none;
      line-height: 27px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-size: 11px;
      letter-spacing: 0.846154px;
      color: #ffffff; }
  .footer__contact {
    font-weight: normal;
    line-height: 16px; }
  .footer__adress {
    width: 84%;
    margin-bottom: 20px; }
  .footer__maill {
    margin-top: 15px; }
  .footer__socials {
    display: flex;
    justify-content: space-around;
    margin-top: 35px; }
    .footer__socials a {
      text-decoration: none; }
      .footer__socials a i {
        font-size: 15px;
        color: #ffffff; }

.copyright {
  background-color: #171819;
  padding: 22px 0 23px 0;
  text-align: center;
  font-weight: normal;
  line-height: 15px; }

/*# sourceMappingURL=style.css.map */
